body, html, #root, .wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Ubuntu, Calibri, sans-serif;
}

* {
  box-sizing: border-box !important;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper > *:not(.loading) {
  width: 50%;
  transition: all .5s;
}

@media screen and (max-width: 992px){
  width: 80%;
}

.hide {
  display: none;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: #ffffff77;
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
}

.auth {
  text-align: center;
}

.auth > div {
  padding: 7px 0;
}

.auth h1 {
  color: #0077ea;
}

.auth a {
  text-decoration: none;
}

.auth input {
  outline: none !important;
  border: 2px solid #0077ea;
  width: 400px;
  max-width: calc(100% - 40px);
  height: 45px;
  border-radius: 100px;
  padding: 0 10px;
}

.auth input::placeholder {
  color: #0077ea;
}

.auth span {
  color: #f00;
  display: block;
  font-size: small;
}

.auth button {
  padding: 10px 30px;
  border: 2px solid #0077ea;
  color: #fff;
  background-color: #0077ea;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 3px;
  transition: all .5s;
  text-transform: uppercase;
}

.auth button:hover {
  background-color: transparent;
  color: #0077ea;
}

.content {
  position: relative;
  height: 100%;
  /* border: 1px solid black; */
  padding: 0 50px;
}

.content .input {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  border-top: 1px solid #0077ea;
  text-align: center;
}

.content .input input {
  outline: none !important;
  border: 2px solid #0077ea;
  width: 400px;
  max-width: calc(100% - 40px);
  height: 35px;
  padding: 0 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.content .input button {
  padding: 0 30px;
  height: 35px;
  line-height: 35px;
  /* border: 2px solid #0077ea; */
  border: none;
  color: #fff;
  background-color: #0077ea;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all .5s;
  text-transform: uppercase;
}

.content h1 {
  color: #0077ea;
  border-bottom: 1px solid #0077ea;
  padding-bottom: 10px;
}

.content p {
  font-size: 17px;
  padding-left: 20px;
  position: relative;
  transition: all .5s;
}

.content p:hover {
  color: #0077ea;
}

.content p::after {
  content: '';
  top: calc(50% - 2px);
  left: 0;
  height: 4px;
  width: 4px;
  background-color: #0077ea;
  border-radius: 50%;
  position: absolute;
  display: block;
}